<div class="panel">
    <div class="panel-heading">
        Origin Configuration
    </div>
    <div class="panel-body">
        this is the template of AdminOriginController of the module modofactor
    </div>
</div>